Repository ssm0318/WhoamI-Today-frontend, pull requests merged in 2023-12, with the labels that each got.

#243 (#236) 공통 컴포넌트 - 검색창
  public/icons/search.svg
  src/components/friends-settings/friend-invitation/FriendInvitation.tsx
  src/components/friends-settings/friend-search/FriendSearchInput.styled.ts
  src/components/friends-settings/friend-search/FriendSearchInput.tsx
  src/components/settings/push-noti-setting/PushNotiSetting.tsx
  src/design-system/colors/index.ts
  src/i18n/locales/en/translation.json
  src/i18n/locales/ko/translation.json
Labels: MarkUp, design system

#244 (#232) 공통 버튼 컴포넌트 리팩터링
  src/design-system/Button/Button.constants.ts
  src/design-system/Button/Button.styled.ts
  src/design-system/Button/Button.tsx
  src/design-system/Button/Button.types.ts
  src/design-system/Button/useButton.ts
  src/design-system/Font/Font.constants.ts
  src/design-system/Font/Font.types.ts
Labels: refact, design system

#245 (#235) 공통 컴포넌트 - Header
  src/components/_common/profile-image-edit/ProfileImageEdit.tsx
  src/components/header/Header.styled.ts
  src/components/header/Header.tsx
  src/components/header/MainHeader.tsx
  src/components/header/chats-header/ChatsHeader.tsx
  src/components/header/friends-header/FriendHeader.tsx
  src/components/header/my-header/MyHeader.tsx
  src/components/header/side-menu/SideMenu.tsx
  src/components/sub-header/SubHeader.styled.ts
  src/components/sub-header/SubHeader.tsx
  src/design-system/SvgIcon/icons.ts
  src/routes/AllQuestions.tsx
  src/routes/MomentUpload.tsx
  src/routes/Notifications.tsx
  src/routes/ResponseHistory.tsx
  src/routes/Root.tsx
  src/routes/SignUp.tsx
  src/routes/UserPage.tsx
  src/routes/moment-detail/MomentDetailContainer.tsx
  src/routes/response-detail/ResponseDetailContainer.tsx
  src/routes/response/ShortAnswerResponse.tsx
  src/routes/settings/ConfirmPassword.tsx
  src/routes/settings/DeleteAccount.tsx
  src/routes/settings/EditProfile.tsx
  src/routes/settings/FriendsSettings.tsx
  src/routes/settings/ResetPassword.tsx
  src/routes/settings/Settings.tsx
  src/routes/status/MusicSearch.tsx
  src/routes/status/StatusEdit.tsx
Labels: MarkUp, design system

#248 refact: #no-issue branch merge (main <- chat)
  public/icons/green_dot.svg
  public/icons/search.svg
  src/components/_common/swipe-layout/SwipeLayout.styled.ts
  src/components/_common/swipe-layout/SwipeLayout.tsx
  src/components/_common/swipe-layout/SwipeLayoutList.tsx
  src/components/_common/toggle-switch/ToggleSwitch.styled.ts
  src/components/_common/toggle-switch/ToggleSwitch.tsx
  src/components/chat-room/message-input-box/MessageInputBox.styled.ts
  src/components/chat-room/message-input-box/MessageInputBox.tsx
  src/components/chat-room/message-item/MessageItem.helper.ts
  src/components/chat-room/message-item/MessageItem.styled.ts
  src/components/chat-room/message-item/MessageItem.tsx
  src/components/chat-room/message-list/MessageList.helper.ts
  src/components/chat-room/message-list/MessageList.tsx
  src/components/chat-room/message-noti-settings/MessageNotiSettings.tsx
  src/components/chats/chat-room-list/ChatRoomItem.helper.ts
  src/components/chats/chat-room-list/ChatRoomItem.styled.ts
  src/components/chats/chat-room-list/ChatRoomItem.tsx
  src/components/chats/chat-room-list/ChatRoomList.helper.ts
  src/components/chats/chat-room-list/ChatRoomList.tsx
  src/components/chats/chat-room-search-input/ChatRoomSearchInput.styled.ts
  src/components/chats/chat-room-search-input/ChatRoomSearchInput.tsx
  src/components/header/chats-header/ChatsHeader.styled.ts
  src/components/header/icon/Icon.tsx
  src/components/settings/SettingsButtons.styled.ts
  src/components/settings/SettingsButtons.tsx
  src/components/sub-header/SubHeader.styled.ts
  src/design-system/Font/Font.constants.ts
  src/design-system/Font/Font.types.ts
  src/design-system/SvgIcon/SvgIcon.tsx
  src/design-system/SvgIcon/icons.ts
  src/hooks/useClickOutside.ts
  src/i18n/locales/en/translation.json
  src/i18n/locales/ko/translation.json
  src/index.tsx
  src/routes/Chats.tsx
  src/routes/chat-room/ChatRoom.styled.ts
  src/routes/chat-room/ChatRoom.tsx
Labels: refact, Chats

#250 (#249) [New Feature] /friends 하위 라우팅, 기본 컴포넌트 구성
  src/components/friends/friend-list/FriendProfile.styled.ts
  src/components/header/friends-header/FriendHeader.tsx
  src/components/home/todays-moments/TodaysMoments.tsx
  src/components/moment-upload/complete-modal/MomentUploadCompleteModal.tsx
  src/components/moment-upload/moment-upload-description-input/MomentUploadDescriptionInput.styled.ts
  src/components/moment-upload/moment-upload-description-input/MomentUploadDescriptionInput.tsx
  src/components/moment-upload/moment-upload-mood-input/MomentUploadMoodInput.styled.ts
  src/components/moment-upload/moment-upload-mood-input/MomentUploadMoodInput.tsx
  src/components/my-detail/MyDetail.tsx
  src/components/the-days-detail/TheDaysDetail.tsx
  src/components/the-days-detail/the-days-moments/MomentContent.styled.ts
  src/components/the-days-detail/the-days-moments/MomentContent.tsx
  src/components/the-days-detail/the-days-moments/TheDaysMoments.tsx
  src/constants/layout.ts
  src/i18n/locales/en/translation.json
  src/i18n/locales/ko/translation.json
  src/index.tsx
  src/routes/MomentUpload.tsx
  src/routes/UserPage.tsx
  src/routes/friends/EditFriends.tsx
  src/routes/friends/ExploreFriends.tsx
  src/routes/friends/Friends.tsx
  src/routes/moment-detail/MomentDetail.tsx
  src/routes/moment-detail/MomentDetailContainer.tsx
Labels: feature, Friends

#252 (feat: #237) left swipe 기능 추가
  src/components/_common/swipe-layout/SwipeLayout.styled.ts
  src/components/_common/swipe-layout/SwipeLayout.tsx
  src/components/chats/chat-room-list/ChatRoomItem.styled.ts
  src/components/chats/chat-room-list/ChatRoomItem.tsx
Labels: feature
