Repository ssm0318/WhoamI-Today-frontend, pull requests merged in 2024-02, with the labels that each got.

#266 (#251, #263) 친구 홈 > 컨텐츠 없음 케이스 추가, API 연동
  public/icons/friend_profile.png
  public/icons/friend_requests.svg
  public/icons/star_outline.svg
  src/components/_common/profile-image/UpdatedProfile.tsx
  src/components/_common/profile-image/UpdatedProfileItem.tsx
  src/components/friends/updated-friend-item/UpdatedFriendItem.tsx
  src/components/header/icon/Icon.styled.ts
  src/components/header/icon/Icon.tsx
  src/design-system/SvgIcon/icons.ts
  src/i18n/locales/en/translation.json
  src/i18n/locales/ko/translation.json
  src/models/api/friends.ts
  src/routes/friends/Friends.tsx
  src/utils/apis/friends.ts
  src/utils/filterHiddenFriends.ts
Labels: Friends

#267 (#264) 채팅 api 연결
  src/components/chat-room/message-input-box/MessageInputBox.tsx
  src/components/chat-room/message-item/MessageItem.tsx
  src/components/chat-room/message-list/MessageList.tsx
  src/components/chats/chat-room-list/ChatRoomItem.tsx
  src/components/chats/chat-room-list/ChatRoomList.tsx
  src/index.tsx
  src/models/api/chat.ts
  src/routes/chat-room/ChatRoom.tsx
  src/routes/chat-room/_hooks/useChatRoomAutoScroll.tsx
  src/routes/chat-room/_hooks/useChatRoomSocketProvider.tsx
  src/stores/chat.ts
  src/stores/useBoundStore.ts
  src/utils/apis/chat.ts
Labels: feature, Chats

#268 (#253) 친구 추천 api 연결
  src/components/friends/explore-friends/friend-invitation/FriendInvitation.tsx
  src/components/friends/explore-friends/friend-item/FriendItem.tsx
  src/components/friends/explore-friends/friend-search-list/FriendSearchList.tsx
  src/components/friends/explore-friends/recommended-list/RecommendedList.tsx
  src/components/friends/explore-friends/request-list/RequestList.tsx
  src/i18n/locales/en/translation.json
  src/i18n/locales/ko/translation.json
  src/utils/apis/user.ts
Labels: feature, Friends

#259 (#221) 이모지 리액션 API 연결
  src/components/reaction/emoji-view-popup/EmojiViewPopup.tsx
  src/components/reaction/reaction-section/ReactionSection.tsx
  src/models/post.ts
  src/routes/AllQuestions.tsx
  src/routes/My.tsx
  src/routes/Notifications.tsx
  src/utils/apis/responses.ts
Labels: My
